<!DOCTYPE html>
<html>
    <head>
        <title> patient details report </title>
    </head>
    <body>
        <h1>Incoming Patient details</h1>
        
        <b>Patient age:</b> {{patient_age}}<br/><br/>
        <b>Patient sex:</b> {{patient_sex}}<br/><br/>
        <b>injury area:</b> {{injury_area}}<br/><br/>
        <b>Description of injury:</b> {{description_of_injury}}<br/><br/>
        <b>Procedure required:</b> {{procedure_required}}<br/><br/>
        <b>Extra information:</b> {{extra_information}}<br/><br/>

    </body>
</html>